@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  .regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  .semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  .bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
 /* TODO Lobster font have to add */

 /* shared style */
 *{
  margin: 0;
  padding: 0;
 }
 .section-details{
    font-size: 1.125rem;
    color: #3E3E3E;
    margin-bottom: 19px;
 }
 .btn-primary{
  border: none;
  background-color: #FF5959;
  padding: 12px 30px;
  color: #FFFFFF;
  border-radius: 5px;
 }
 .display-flex{
  display: flex;
 }
 body{
  max-width: 1128px;
  margin: 0 auto;
 }
 /* hero */
 .hero{
  justify-content: space-between;
  align-items: center;


 }
 .hero-info{
  max-width: 520px;
 }
 .hero-title{
    font-size: 60px;
    color: #333333;
    border-left: 4px solid #FF5959;
 }
 .hero-title span{
    color: #FFAD5A;
 }
 .hero-end-text{
  margin-top: 33px;
 }
 .hero-img{
  max-width: 426px;
  /* background-image: url('../images/shapes/shape-4.png'); */
 }
 .hero-img img{
  width: 100%;
  
 }
 /* responsive */
 @media screen and (max-width:576px){
  .hero{
    flex-direction: column;

  }
 }